# Core
fastapi[standard]
uvicorn[standard]
pydantic
pydantic-settings

python-dotenv
requests

# Database Clients
weaviate-client
psycopg2-binary
redis

# Testing
pytest
httpx

sentence-transformers
scikit-learn
numpy
langchain-text-splitters
tiktoken